<p id="notice"><%= notice %></p>

<h1>Listing Servers</h1>
<br/>
<table data-toggle="table" class="fixed">
  <thead>
    <tr>
      <th></th>
      <th class="col-md-3" data-field="name" data-sortable="true">Name</th>
      <th class="col-md-2" data-field="ip" data-sortable="true">IP address</th>
      <th class="col-md-2" data-field="online" data-sortable="false">Players</th>
      <th class="col-md-2" data-field="players" data-sortable=true">Total players</th>
      <th class="col-md-1" data-field="kills" data-sortable="true">Kills</th>
      <th class="col-md-1" data-field="headshots" data-sortable="true">Headshots</th>
      <th class="col-md-2" data-field="map" data-sortable="true">Map</th>
      <th class="col-md-1" data-field="kpp" data-sortable="true">Kills per player</th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <% act_players =  Livestats.where(server_id: server.serverId).where.not(steam_id: 'BOT').count %>
      <tr>
        <td><a class="btn btn-info" role="button" href="steam://connect/<%= server.publicaddress  %>">Connect</a></td>
        <td>
          <%= link_to(server.name, server, {:class=>"btn-link"}) %>
        </td>
        <td><%= server.publicaddress %></td>
        <td><%= "#{act_players} (#{server.act_players}) / #{server.max_players}" %></td>
        <td><%= server.players %></td>
        <td><%= server.kills %></td>
        <td><%= server.headshots %></td>
        <td><%= server.act_map %></td>
        <td><%= (server.kills.to_f / server.players).round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
