<table class="table table-bordered">
  <thead>
    <th data-field="player">Player</th>
    <th data-field="player">Kills</th>
    <th data-field="player">Deaths</th>
    <th data-field="player">K/D</th>
  </thead>
  <tbody>
    <% @killstat.each do |playerId, stats|  %>
    <tr>
      <td><%= playerId %> </td>
      <td><%= stats[:kills].to_i %> </td>
      <td><%= stats[:deaths].to_i %> </td>
      <td><%= stats[:kpd].to_f.round(2) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back', :back, {:class=>"btn-link"} %>
