<table class="table table-bordered"
       data-toggle="table"
       data-page-size="25"
       data-page-list="[10, 25, 50, 100]"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-pagination="true"
       data-side-pagination="client"
       data-sort-name="kills"
       data-sort-order="desc"
>
  <thead>
  <th class="col-md-4" data-searchable="true" data-field="player" data-sortable="true">Player</th>
  <th class="col-md-1" data-searchable="false" data-field="kills" data-sortable="true">Kills</th>
  <th class="col-md-1" data-searchable="false" data-field="deaths" data-sortable="true">Deaths</th>
  <th class="col-md-1" data-searchable="false" data-field="kpd" data-sortable="true">K/D</th>
  </thead>
  <tbody>
  <% @killstats.each do |playerId, stats| %>
      <tr>
        <td><%= link_to(Player.find(playerId).lastName, Player.find(playerId), {:class => "btn-link"}) %> </td>
        <td><%= stats[:kills].to_i %> </td>
        <td><%= stats[:deaths].to_i %> </td>
        <td><%= stats[:kpd].to_f.round(2) %> </td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Back', :back, {:class => "btn-link"} %>
