<table class="table table-bordered"
       data-toggle="table"
       data-page-size="25"
       data-page-list="[10, 25, 50, 100]"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-url="<%= killstats_player_path(format: :json, id: params[:id]) %>"
       data-pagination="true"
       data-side-pagination="server"
       data-sort-name="<%= params[:sort] %>"
       data-sort-order="<%= params[:order] %>"
       data-page-size="<%= params[:limit] %>"
       data-page-number="<%= params[:page] %>">
>
  <thead>
  <th class="col-md-4" data-searchable="true" data-field="lastName" data-formatter="urlFormatter" data-sortable="true">Player</th>
  <th class="col-md-1" data-searchable="false" data-field="kills" data-sortable="true">Kills</th>
  <th class="col-md-1" data-searchable="false" data-field="deaths" data-sortable="true">Deaths</th>
  <th class="col-md-1" data-searchable="false" data-field="kpd" data-sortable="true">K/D</th>
  </thead>
  <tbody>
</table>


<%= link_to 'Back', :back, {:class => "btn-link"} %>
