<p id="notice"><%= notice %></p>

<p>
  <strong>Lastname:</strong>
  <%= @player.lastName %>
</p>

<p>
  <strong>Kills:</strong>
  <%= @player.kills %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @player.activity %>
</p>
<%= link_to 'Back', :back %>
