<p id="notice"><%= notice %></p>

<h1>Listing Frags</h1>
<table data-toggle="table" class="fixed">
  <thead>
  <tr>
    <th class="col-md-1" data-field="killer">Killer</th>
    <th class="col-md-1" data-field="victim">Victim</th>
    <th class="col-md-3" data-field="weapon">Weapon</th>
    <th class="col-md-3" data-field="eventTime">Time</th>
  </tr>
  </thead>

  <tbody>
  <% @frags.each do |frag| %>
      <tr>
        <td><%= player_link(frag.killerId) %></td>
        <td><%= player_link(frag.victimId) %></td>
        <td><%= frag.weapon %></td>
        <td><%= frag.eventTime %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div align="right">
  <%= paginate @frags, :theme => 'twitter-bootstrap-3' %>
</div>
<br/>
<%= link_to 'Back', :back %>
