<p id="notice"><%= notice %></p>

<h1>Listing Frags</h1>




<table id="table" class="fixed"
       data-toggle="table"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-flat="true"
       data-pagination="true"
       data-side-pagination="server"
       data-url="<%= frags_path(format: :json, player_id: params[:player_id], game_game: params[:game_game]) %>"
       data-search="true"
       data-row-style="fragStyle"
       data-page-list="[10, 25, 50, 100]"
       data-search-text="<%= params[:search] %>"
  data-page-size="<%= params[:limit] %>"
  data-page-number="<%= params[:page] %>">
  <thead>
  <tr>
    <th data-field="id" data-formatter="fragFormatter">Frag</th>
    <th class="col-md-3" data-field="eventTime">Time</th>
    <th data-field="id" data-field="server" data-formatter="serverFormatter">Server</th>
  </tr>
  </thead>
</table>

<br/>
<%= link_to 'Back', :back %>


