<% title 'Countries' %>
<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>

<table id="table" class="fixed"
       data-toggle="table"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-flat="true"
       data-url="<%= countries_path(format: :json) %>"
       data-pagination="true"
       data-side-pagination="client"
       data-search="true"
       data-page-size="50"
       data-page-list="[25, 50, 100]"
       data-sort-name="<%= params[:sort] %>"
       data-sort-order="<%= params[:order] %>"
       data-search-text="<%= params[:search] %>">
  <thead>
  <tr>
    <th data-formatter="runningFormatter">Position</th>
    <th data-field="flag" class="col-sm-1" data-formatter="flagFormatter" data-sortable="true">Flag</th>
    <th data-field="country" class="col-md-2" data-formatter="countryFormatter" data-sortable="true">Country</th>
    <th data-field="players_total" class="col-sm-2" data-sortable="true">Number of players</th>
    <th data-field="avg_activity" class="col-md-2" data-formatter="activityFormatter" data-min="0" data-max="100" data-sortable="true">Activity</th>
    <th data-field="avg_skill" class="col-sm-2" data-sortable="true">Avg skill points</th>
    <th data-field="kpd" class="col-sm-2" data-sortable="true">K/D</th>
    <th data-field="avg_kills" class="col-sm-1" data-sortable="true">Avg kills</th>
    <th data-field="avg_connection_time" data-formatter="timeFormatter" class="col-sm-1" data-sortable="true">Avg playtime</th>
  </tr>
  </thead>
</table>
<br>
